<section>
    <div class="container-fluid main_banner px-0">
        <div class="row">
            <div class="col-12">
                <h1 class="text-uppercase">
                    Ramadan<span class="text--secondary"></span> <br/>
                    Kareem
                </h1>

                <h5 class="text-uppercase"></h5>
                <a href="#menu" class="scroll d-block mx-auto"><i class="fa-solid fa-angle-down"></i></a>
            </div>
        </div>
        <img src="../../../../assets/imgs/zigzag.png" alt="Amarican Burger" class="banner_zigzag img-fluid position-absolute" data-aos="fade-left"
     data-aos-easing="linear"
     data-aos-duration="1500">
    </div>
    <div class="container-fluid">
        <!--image-->
        <div class="row bg-bradient-pink">
            <div class="col-lg-4 col-md-6 col-10 text-center mx-auto">
                
            </div>
        </div>
    </div>
    
</section>
